<h1>회원가입</h1>

<!--id, pw, name, email, gender, phone, address, -->
<img src="http://27.96.131.103:8000/static/a.jpg">
{{ res }}
<form method='POST' action='/signup'>
	{% csrf_token %}
	아이디 : <input type="text" name="userid" /><br>
	비밀번호 : <input type="password" name="userpassword"/><br>
	이름 : <input type="text" name="username" /><br>
	이메일 : <input type="email" name="useremail"/><br>
	성별 : <input type="text" name="usergender" /><br>
	전화번호 : <input type="text" name="userphone" /><br>
	주소 : <input type="text" name="useraddress"/><br>

	<input type="submit"/>

</form>
